@import 'settings';
@import 'fonts';

.overlay-bg {
	width: 100%; height: 100%;position: absolute; left: 0; top: 0; z-index: 1;
	background: url('../img/overlay-bg.png') center 120px no-repeat;
	background-size: 100%, auto;
}

.container {min-height: auto; background: none;}
.md-modal {
	min-width: auto; max-width: none; width: auto;

	@include respond-to(md) {width: 100%;}
}
.md-content {color: inherit; background: none; @include border-radius(0px);}
.md-overlay {background: rgba(91,126,148,0.92);}
.md-content h3 {font-weight: inherit; opacity: 1; background: none; padding: 0; @include border-radius(0px);}
.md-content > div p {padding: 0;}

.wordsCounter, .intro, .main, .prizes {position: relative; z-index: 5;}

.flying-balls {
	position: absolute; left: 0; top: 0; width: 100%; height: 100%;
	img {
		position: absolute; width: 10%;

		&.ball-1 {left: 5%; top: 10%;}
		&.ball-2 {right: 0; top: 15%;}
		&.ball-3 {right: 12%; top: 7.5%;}
		&.ball-4 {left: 8%; top: 30%;}
		&.ball-5 {right: 6%; top: 50%;}
		&.ball-6 {left: 0; top: 57.5%;}
		&.ball-7 {left: -45px; top: 87.5%;}
		&.ball-8 {right: 10%; top: 75%;}
	}
}

.wordsCounter {
	text-align: center;
	width: 812px; margin: 0 auto; padding-top: 61px; padding-bottom: 53px;

	@include respond-to(md) {width: auto;}

	&:after {
		content: '';
		display: block; width: 100%; height: 1px; position: absolute; left: 0;
		background: #ffffff;
	}

	&.topBorder {
		&:after {top: 0;}
	}
	&.bottomBorder {
		&:after {bottom: 0;}
	}

	.counter {
		color: #ffffff; font-size: 76.5px; line-height: 104px; text-align: center;
		display: inline-block; height: 94px; margin: 0 auto 3px; padding: 0 89px;
		border: 3px solid #ffffff; @include border-radius(16px);

		@include respond-to(sm) {
			font-size: 50px; line-height: 78px;
			height: 74px; padding: 0 46px;
		}
		@include respond-to(xs) {
			font-size: 30px; line-height: 42px;
			padding: 0 26px; height: 44px;
		}
	}

	p {
		color: #ffffff; font-size: 22.5px; text-align: center; line-height: 27px;
		margin-bottom: 48px;

		@include respond-to(sm) {
			font-size: 19px; line-height: 24px;
			margin-bottom: 36px;
		}
		@include respond-to(xs) {
			font-size: 14px; line-height: 18px;
		}
	}

	.addWords {
		color: #ffffff; font-size: 29.5px; line-height: 60px; letter-spacing: 0.4px; text-align: left; text-decoration: none;
		display: block; margin: 0 auto; width: 325px; height: 58px; padding-left: 74px; position: relative;
		background: #f94d15; @include border-radius(14px);
		cursor: pointer;

		@include respond-to(xs) {
			font-size: 22px; line-height: 44px;
			width: 100%; height: 42px;
		}

		&:before {
			content: '';
			display: block; position: absolute; width: 1px; height: 54px; left: 74px; top: 2px;
			background: #ffffff;

			@include respond-to(xs) {height: 38px;}
		}

		i {
			position: absolute; left: 18px; top: 12px;

			@include respond-to(xs) {
				@include transform(scale(0.7)); top: 2px;
			}
		}

		span {
			width: 100%; display: inline-block; padding-left: 26px; height: 58px;
			@include border-radius(0 12px 12px 0);

			@include respond-to(xs) {
				text-align: center;
				padding-left: 0; height: 42px;
			}
		}

		&:hover {
			span {
				color: #f94d15;
				background: #fff;
			}
		}
	}
}

.intro {
	padding: 28px 40px;
	background: rgba(249, 77, 21, 0.84);

	h1, p {
		color: #ffffff;

		@include respond-to(sm) {text-align: center;}
	}

	h1 {
		font-family: $CirceBold; font-size: 39.48px; line-height: 47px; letter-spacing: 0.9px; text-transform: uppercase;
		margin-bottom: 5px;

		@include respond-to(sm) {font-size: 30px; line-height: 36px;}
		@include respond-to(xs) {font-size: 24px; line-height: 30px;}
	}

	p {
		font-family: $CirceLight; font-size: 19.3px; line-height: 23px; letter-spacing: -0.05px;
		
		@include respond-to(sm) {font-size: 16px; line-height: 20px;}

		br {
			@include respond-to(xs) {display: none;}
		}
	}
}

.main {

	.participate {
		color: #ffffff; font-size: 29.5px; letter-spacing: 0.4px; text-align: left; text-decoration: none;
		display: block; margin: 0 auto 14px; width: 295px; height: 58px; padding-left: 72px; position: relative;
		background: #f94d15; @include border-radius(14px);
		cursor: pointer;

		&:before {
			content: '';
			display: block; position: absolute; width: 1px; height: 54px; left: 74px; top: 2px;
			background: #ffffff;
		}

		@include respond-to(xs) {
			font-size: 20px; text-align: center;
			width: 100%; height: 42px;
		}

		i {
			position: absolute; left: 18px; top: 50%; @include transform(translateY(-50%));

			@include respond-to(xs) {
				@include transform(translateY(-50%) scale(0.7));
			}
		}

		span {
			line-height: 56px;
			width: 100%; display: inline-block; padding-left: 24px; height: 58px;
			border: solid 2px #f94d15; @include border-radius(0 12px 12px 0);

			@include respond-to(xs) {
				line-height: 40px;
				height: 42px; padding-left: 0;
			}
		}

		&:hover {
			span {
				color: #f94d15;
				background: #fff;
			}
		}
	}
	.showSupp {
		color: #f94d15; font-family: $CirceLight; font-size: 17px; line-height: 20px; letter-spacing: -0.05px; text-align: center;
		display: block; width: 200px; margin: 0 auto 36px;

		&:hover {text-decoration: none;}
	}

	p {
		color: #5b7e94; font-family: $CirceLight; font-size: 21px; line-height: 25px; letter-spacing: 0.02px; text-align: center;
		margin-bottom: 26px;

		&:last-child {margin-bottom: 0;}

		@include respond-to(xs) {font-size: 15px;}

		span {
			font-family: $CirceBold;
		}

		br {
			@include respond-to(xs) {display: none;}
		}
	}

}

.prizes {
	p {
		color: #5b7e94; font-size: 18.19px; text-align: center; line-height: 22px; letter-spacing: 0.1px; text-transform: uppercase;
		margin-bottom: 29px;

		@include respond-to(xs) {font-size: 13px;}

		br {
			@include respond-to(xs) {display: none;}
		}
	}

	ul {
		text-align: center;
		li {
			display: inline-block; vertical-align: top; margin: 0 8px;

			@include respond-to(sm) {text-align: center; display: block; margin: 0 0 15px;}
			figure {

				& > div {
					width: 159px; height: 159px; overflow: hidden; position: relative; margin-bottom: 21px;
					background: #ffffff; border: solid 3px #f94d15; @include border-radius(50%);

					@include respond-to(sm) {display: inline-block;}
					img {
						position: absolute; left: 50%; top: 50%; @include transform(translate(-50%, -50%));
					}

				}

				figcaption {
					color: #5b7e94; font-size: 10.91px; line-height: 13px; letter-spacing: 0.7px; text-transform: uppercase;
				}
			}
		}
	}
}

.wordsContainer {
	height: 5000px; position: relative;
	ul {
		li {
			position: absolute;
			@include transition(all 0.25s ease-out);
			cursor: pointer;

			&:hover {@include transform(scale(1.125));}
			a {
				color: #ffffff; text-decoration: none;
			}
		}
	}
}

// popups
.goBackButton {
	color: #f94d15;
	display: block; width: 83px; height: 83px; position: absolute; left: 18px; top: -118px; padding: 0; margin: 0;
	background: #ffffff; border: solid 12px #f94d15; @include border-radius(50%);
	cursor: pointer;

	@include respond-to(sm) {top: -15px; left: -15px; width: 50px; height: 50px; border-width: 6px;}

	@media all and (max-height: 768px) {top: -15px; left: -15px; width: 50px; height: 50px; border-width: 6px;}
	
	img {
		width: 70%; position: absolute; left: 50%; top: 50%; @include transform(translate(-50%, -50%));
	}

	&:hover {
		background: #ffffff;
		@include animation(movingGoBackButton 0.75s linear infinite);
	}
}
.wordsScreen-popup {
	width: 654px; position: fixed; left: 50%; top: 50%; z-index: 1000; @include transform(translate(-50%, -50%)); padding: 25px 0 28px;
	background: #5b7e94; @include border-radius(31px);

	@include respond-to(sm) {width: 90%; padding-right: 15px;}

	.upDownButtons {
		position: absolute; left: 98px; top: 50%; @include transform(translateY(-50%));

		@include respond-to(sm) {left: 50px;}
		div {
			color: #ffffff; font-size: 24px; line-height: 34px; text-align: center;
			width: 40px; height: 40px;
			border: solid 5px #ffffff; @include border-radius(3px);
			&.upButton {margin-bottom: 5px;}
		}
	}
	p {
		color: #ffffff; font-size: 20px; line-height: 24px; letter-spacing: -0.05px;
		margin-left: 168px;

		@include respond-to(sm) {margin-left: 120px;}
		@include respond-to(xs) {font-size: 18px; line-height: 22px;}
	}
}

.approveMessage-popup {
	width: 967px; position: relative; padding: 61px 0 44px; margin-top: 110px;
	background: url('../img/approveMessage-bg.png') 0 129px no-repeat; border: solid 13px #ffffff; @include border-radius(28px);

	@media all and (max-height: 768px) {height: auto; margin-top: 0; border-width: 5px;}

	@include respond-to(md) {width: auto; margin-right: 15px; margin-left: 15px;}
	@include respond-to(sm) {height: auto; margin-top: 0; border-width: 5px; padding: 30px 0 20px; background: transparent;}

	h3, p {color: #ffffff;}

	h3 {
		font-family: $CirceBold; font-size: 27.8px; line-height: 33px; text-align: center; text-transform: uppercase;
		margin-bottom: 94px;

		@include respond-to(sm) {font-size: 24px; line-height: 30px; margin-bottom: 20px;}
		@include respond-to(xs) {font-size: 20px; line-height: 24px;}
	}

	p {
		font-size: 22px; line-height: 26px; letter-spacing: 0.25px; text-align: center;
		margin-bottom: 28px;

		@include respond-to(sm) {font-size: 18px; line-height: 22px; margin-bottom: 10px; padding: 0 15px;}
		@include respond-to(xs) {font-size: 16px; line-height: 20px;}

		br {
			@include respond-to(sm) {display: none;}
		}
	}

	ul {
		text-align: center;
		padding-top: 33px; margin: 0 1px;position: relative;

		&:before {
			content: '';
			display: block; width: 100%; height: 1px; position: absolute; left: 0; top: -9px;
			background: #ffffff;

			@include respond-to(sm) {top: 0;}
		}

		li {
			display: inline-block;

			@include respond-to(sm) {
				text-align: center;
				display: block; margin-bottom: 10px; padding: 0 15px;
			}
			a {
				color: #ffffff; font-size: 20px; line-height: 63px; letter-spacing: 0.55px; text-align: center; text-decoration: none;
				display: inline-block; margin: 0 2px; width: 303px; height: 59px; position: relative;
				background: #f94d15; @include border-radius(10px);

				@include respond-to(sm) {
					margin: 0;
				}
				@include respond-to(xs) {
					font-size: 16px; line-height: 52px;
					width: 100%; height: 50px;
				}

				&:hover {
					color: #f94d15;
					background: #ffffff;
				}
			}
		}
	}
}

.login-popup {
	width: 967px; position: relative; padding: 53px 0; margin-top: 110px;
	border: solid 13px #ffffff; @include border-radius(28px);

	@media all and (max-height: 768px) {height: auto; margin-top: 0; border-width: 5px;}

	@include respond-to(md) {width: auto; margin-right: 15px; margin-left: 15px;}
	@include respond-to(sm) {height: auto; margin-top: 0; border-width: 5px;}

	h3 {
		color: #ffffff; font-family: $CirceBold; font-size: 27.8px; line-height: 33px; text-align: center; text-transform: uppercase;
		margin-bottom: 24px;

		@include respond-to(sm) {font-size: 22px; line-height: 26px;}
		@include respond-to(xs) {font-size: 18px; line-height: 22px;}

		br {
			@include respond-to(xs) {display: none;}
		}
	}

	ul.socials {
		text-align: center;
		width: 371px; margin: 0 auto;

		@include respond-to(xs) {
			width: auto;
		}

		&:hover {
			li {
				opacity: 0.7; @include transform(scale(0.9));
			}
		}

		li {
			display: inline-block; margin: 0 5px; vertical-align: top;
			@include transition(all 0.25s ease-out);

			&:hover {opacity: 1; @include transform(scale(1));}

			a {
				color: #ffffff; font-size: 52px; text-decoration: none; line-height: 74px;
				display: block; width: 80px; height: 80px;
				border: solid 7px #ffffff; @include border-radius(50%);

				@include respond-to(xs) {
					font-size: 32px; line-height: 50px;
					width: 50px; height: 50px;
					border-width: 3px;
				}

				&.fb {
					font-size: 61px; padding-top: 10px;

					@include respond-to(xs) {
						font-size: 32px;
						padding-top: 0;
					}
				}
				&.tw {
					padding-left: 5px; padding-top: 2px;

					@include respond-to(xs) {padding-left: 0; padding-top: 0;}
				}
				&.ok {}
				&.vk {
					padding-right: 4px;

					@include respond-to(xs) {padding-right: 2px;}
				}
			}
		}
	}
}

.sendMessage-popup {
	width: 967px; position: relative; padding: 41px 1px 45px; margin-top: 110px;
	background: url('../img/sendMessage-bg.png') -4px 318px no-repeat; border: solid 13px #ffffff; @include border-radius(28px);

	@include respond-to(md) {margin-right: 15px; margin-left: 15px; width: auto;}
	@include respond-to(sm) {height: 480px; border-width: 5px; padding: 25px 1px 25px;}

	@media all and (max-height: 768px) {height: auto; margin-top: 0; border-width: 5px;}

	h3 {
		color: #ffffff; font-size: 24.8px; font-family: $CirceBold; line-height: 30px; text-transform: uppercase; text-align: left;
		position: absolute; left: 99px; top: 9px;

		@include respond-to(sm) {
			text-align: center; font-size: 20px;
			position: relative; left: 0; top: 0;
		}
		@include respond-to(xs) {font-size: 14px;}

		br {
			@include respond-to(sm) {display: none;}
		}
	}
	input {
		display: none;
	}

	label {
		color: #ffffff; font-family: $CirceBold; font-size: 12px; line-height: 14px;
		position: absolute; left: 99px; top: 85px; padding-left: 25px;
		cursor: pointer;

		@include respond-to(sm) {
			text-align: left;
			display: inline-block; position: relative; left: 0; top: 0; margin-right: 8px; margin-bottom: 10px; padding-right: 14px;
		}

		&:before {
			content: '';
			display: block; position: absolute; left: 0; top: 0; width: 17px; height: 17px;
			border: solid 1px #ffffff; @include border-radius(1px);
		}
		&:after {
			content: '';
			display: none; width: 1px; height: 29px; position: absolute; right: 0; top: 50%; @include transform(translateY(-50%));
			background: #ffffff;

			@include respond-to(sm) {display: block;}
		}
	}

	input:checked + label:before {background: url('../img/popup-check.png') center center no-repeat;}

	textarea {
		color: #8b8b8b; font-family: $CirceLight;
		width: 100%;
		background: #ffffff; border: solid 3px #f94d15; @include border-radius(16px);
		resize: none;

		&.error {
			border-color: red;
			@include animation(errorValidate 2s linear 1);
		}
	}

	.block1, .block2 {
		padding-left: 376px; padding-right: 88px;

		@include respond-to(sm) {padding-left: 15px; padding-right: 15px;}
	}

	.block1 {
		position: relative; padding-bottom: 9px; margin-bottom: 17px;
		textarea {
			font-size: 24.8px;
			height: auto; padding: 21px;
			&::-webkit-input-placeholder {text-transform: uppercase; opacity: 0.54;}
			&::-moz-placeholder {text-transform: uppercase; opacity: 0.54;}
			&:-moz-placeholder {text-transform: uppercase; opacity: 0.54;}
			&:-ms-input-placeholder {text-transform: uppercase; opacity: 0.54;}

			@include respond-to(md) {font-size: 20px;}
			@include respond-to(sm) {
				font-size: 16px;
				padding: 15px 21px 0;
			}
			@include respond-to(xs) {font-size: 13px;}

		}

		&:after {
			content: '';
			display: block; width: 100%; height: 1px; position: absolute; left: 0; bottom: 0;
			background: #ffffff;
		}
	}

	.block2 {
		position: relative;

		@include respond-to(sm) {text-align: center;}

		textarea {
			font-size: 19.39px; letter-spacing: 0.1px;
			padding: 27px 20px; margin-bottom: 23px;
			&::-webkit-input-placeholder {opacity: 0.54;}
			&::-moz-placeholder {opacity: 0.54;}
			&:-moz-placeholder {opacity: 0.54;}
			&:-ms-input-placeholder {opacity: 0.54;}

			@media all and (max-height: 699px) {height: 150px;}
			@media all and (min-height: 700px) {height: 376px;}

			@include respond-to(sm) {
				font-size: 16px;
				height: 100px; padding: 10px 15px;
			}
		}
		p {
			color: #ffffff; font-size: 14px; line-height: 17px; letter-spacing: 0.05px; text-align: center;
			a {
				color: #ffffff;
				&:hover {text-decoration: none;}
			}

			@include respond-to(sm) {
				text-align: left; font-size: 12px;
				display: inline-block; vertical-align: top;
			}
		}
	}
	button {
		color: #ffffff; font-size: 20px; line-height: 61px; letter-spacing: 0.2px; text-align: center; 
		display: block; margin: 0 auto 29px; width: 303px; height: 59px; padding: 0;
		background: #f94d15; border: none; @include border-radius(10px);

		@include respond-to(md) {width: 100%;}
		@include respond-to(sm) {
			font-size: 16px; line-height: 52px;
			height: 50px;
		}

		&:hover {
			color: #f94d15;
			background: #ffffff;
		}
	}

}

.rules-popup {
	min-width: 800px; position: relative; padding: 43px 15px 85px; margin-top: 110px;
	border: solid 13px #ffffff; @include border-radius(28px);

	@include respond-to(md) {min-width: auto; margin-left: 15px; margin-right: 15px;}
	@include respond-to(sm) {border-width: 5px; padding-bottom: 30px;}

	@media all and (max-height: 768px) {height: auto; margin-top: 0; border-width: 5px;}
	@media all and (min-height: 769px) {height: 700px;}

	h3 {
		color: #ffffff; font-size: 27.8px; font-family: $CirceBold; line-height: 30px; text-align: center; text-transform: uppercase;
		margin-bottom: 73px;

		@include respond-to(sm) {font-size: 24px; margin-bottom: 30px;}
		@include respond-to(xs) {font-size: 20px;}
	}

	& > div {
		height: 321px; overflow-y: auto; margin: 0 20px 0 54px; padding: 0 40px 0 0;

		@include respond-to(xs) {margin: 0 5px 0 20px;}

		@media all and (max-height: 768px) {height: 272px;}
		@media all and (min-height: 769px) {height: 440px;}

		&::-webkit-scrollbar {
			width: 4px;
			background: #ffffff;
		}
		&::-webkit-scrollbar-thumb {
			background: #f94d15;
		}
		p {
			color: #ffffff; font-family: $CirceLight; font-size: 18px; letter-spacing: -0.02px; line-height: 21px;

			@include respond-to(xs) {font-size: 14px;}
		}
	}
}

#phrase-modal {
	.md-content {
		max-height: 342px; width: 529px;
		h3 {
			display: none !important;
			color: #ffffff; font-size: 43.97px;
			display: inline-block; margin: 0 0 16px; padding: 19px 31px; position: relative; left: 50%; @include transform(translateX(-50%));
			background: #f94d15; @include border-radius(16px);
		}
		& > div {
			text-align: left;
			position: relative; padding: 35px 59px 10px;
			background: #f94d15; @include border-radius(16px);

			p {
				color: #ffffff; font-size: 21px; font-family: $CirceLight; letter-spacing: -0.25px; line-height: 26px;
				margin-bottom: 22px;
			}

			.md-close {
				color: #ffffff; font-size: 33.06px; line-height: 24px; text-align: center; text-decoration: none;
				position: absolute; right: 11px; top: 9px; display: block; height: 31px; width: 31px; padding: 0 0 1px 2px; @include transform(rotate(45deg));
				background: transparent; border: solid 3px #ffffff; @include border-radius(50%);
				&:hover {
					color: #f94d15;
					background: #ffffff;
				}
			}
		}
	}
}

// ANIMATION
@include keyframes(movingGoBackButton) {
	0% {@include transform(translateX(0%));}
	50% {@include transform(translateX(-15%));}
	100% {@include transform(translateX(0%));}
}
@include keyframes(errorValidate) {
	0% {border-color: #f94d15;}
	20% {border-color: red;}
	40% {border-color: #ff9978;}
	60% {border-color: red;}
	80% {border-color: #ff9978;}
	100% {border-color: red;}
}