@import 'settings';
@import 'fonts';
@import 'sprite';
@import 'moduls';

body {
	font-family:$CirceRegular;
	background: #578daf url('../img/app-background-main.jpg') center center no-repeat;	background-size: 100%;	background-attachment: fixed;

	@media all and (max-height: 667px) {
		background-size: auto, 667px;
	}
}

.preloader {background: #f94d15 url('../img/preloader.gif') center center no-repeat; position: fixed; width: 100%; height: 100%; z-index: 999999;}

.app {
	position: relative; overflow: hidden; min-width: 320px;
	&.introScreen {background: #ffffff;}

	.header-flag {
		position: fixed; left: 0; top: 0; width: 350px; z-index: 10;

		@include respond-to(lg) {width: 275px;}
		@include respond-to(md) {width: 240px;}
		@include respond-to(sm) {width: 150px;}
		@include respond-to(xs) {display: none;}
	}

	.flyBall {
		position: absolute; right: 15%; bottom: -100px;

		@media all and (max-height: 699px) {bottom: -181px;}
		@media all and (max-width: 1199px) {display: none;}
	}

	.wr-header {
		width: 100%; padding: 19px 0 25px; z-index: 2; position: relative; height: 97px;
		background: #ffffff; //url('../img/header-shadow.png') 113px 0 no-repeat;

		.header-logo {
			color: #6f8ea1; font-size: 25.3px; letter-spacing: 0.7px; text-transform: uppercase;
			display: inline-block; margin-left: 170px; position: relative; top: 1px;
		}

		.header-partners {
			display: inline-block; margin-right: 20px; padding-left: 74px; position: relative; float: right;

			@include respond-to(sm) {padding-left: 30px;}
			@include respond-to(xs) {width: 100%; margin-right: 0;padding-left: 0; text-align: center; float: none;}

			&:before {
				content:'';
				display: block; width: 1px; height: 45px; position: absolute; left: 0; top: 50%; @include transform(translateY(-50%));
				background: #4181a9;

				@include respond-to(xs) {display: none;}
			}

			a {
				position: relative; display: inline-block; width: 130px;

				@include respond-to(xs) {width: 115px;}
				&:first-child {
					display: inline-block;

					&:after {
						content:'';
						display: block; width: 1px; height: 37px; position: absolute; right: -18px; top: 50%; @include transform(translateY(-50%));
						background: #4181a9;
					}

				}
				&:last-child {margin-left: 33px;}

				img {
					width: 100%;
				}

				p {
					color: #5b7e94; font-family: $CirceLight; font-size: 13px; letter-spacing: 0.25px;
					position: absolute; left: 0; bottom: -17px;

					@include respond-to(xs) {font-size: 11px;}
				}
			}
		}
		.header-flag {
			position: absolute;
		}
	}

	.wr-suppWords {}

	.wr-firstScreen {
		&-intro {
			padding: 64px 0 111px; 
			background: url('../img/app-background-firstScreen.png') center 0 no-repeat; background-size: cover;
		}

		&-main {
			padding: 41px 0 58px;
			background: #ffffff url('../img/app-background-firstScreen-main.png') center 62px no-repeat; border-bottom: solid 1px #5b7e94;
		}

		&-prizes {
			padding: 20px 0 55px;
			background: #f7f9fa;
		}
	}

	.wr-footer {
		padding-bottom: 36px; padding-top: 56px; position: relative; z-index: 2;
		background: #578daf;

		.footer {

			.footer-logo {
				float: left; margin-left: 39px;

				@include respond-to(sm) {float: none;margin-left: 0; width: 100%; text-align: center; margin-bottom: 15px;}
				a {
					display: inline-block; position: relative; padding-right: 17px; margin-right: 16px;

					&:last-child {
						margin-right: 0;

						@include respond-to(sm) {
							padding-right: 0;
							&:after {display: none;}
						}
					}

					&:after {
						content: '';
						display: block; width: 1px; height: 31px; position: absolute; right: 0; top: 50%; @include transform(translateY(-50%));
						background: #ffffff;
						opacity: 0.38;
					}
					
					p {
						color: #ffffff; font-family: $CirceLight; font-size: 12px; letter-spacing: 0.1px;
						position: absolute; left: -1px; bottom: -18px;
					}
				}
			}
			.footer-info {
				display: inline-block; width: 50%; margin-left: 42px; margin-top: 5px;

				@include respond-to(md) {width: 45%;}
				@include respond-to(sm) {text-align: center; width: 100%; margin: 0;}

				p {
					color: #ffffff; font-size: 13.8px; letter-spacing: 0.4px; line-height: 16px; text-transform: uppercase;
					margin-bottom: 17px;
					opacity: 0.9;

					@include respond-to(sm) {font-size: 12px;}
				}
				ul.footer-nav {
					margin-bottom: 17px;
					li {
						display: inline-block; margin-right: 23px;
						&:last-child {margin-right: 0;}

						@include respond-to(sm) {display: block; margin-right: 0; margin-bottom: 10px;}
						a {
							color: #ffffff; font-size: 15.2px; letter-spacing: 0.4px; text-transform: uppercase;
							position: relative;
							opacity: 0.9;
							cursor: pointer;

							&:hover {text-decoration: none;}

							@include respond-to(md) {font-size: 11px;}
						}

						&.license {
							display: none;
							& > div {
								position: relative;

								i {color: #ffffff; font-size: 15.2px;}

								p {
									color: #578daf; font-size: 8px; line-height: 9px; letter-spacing: 0.23px; text-transform: none;
									display: none; position: absolute; bottom: 11px; left: -280px; z-index: 1; padding: 15px; width: 410px;
									background: #ffffff; @include border-radius(15px);
									opacity: 1;
									&:after {
										content: '';
										display: block; position: absolute; bottom: -6px; right: 116px; width: 15px; height: 15px;
										@include transform(rotate(45deg));
										background: #ffffff;

										@include respond-to(sm) {
											bottom: 0; right: 50%; @include transform(rotate(45deg) translateX(50%));
										}
									}

									@include respond-to(sm) {
										left: 50%; @include transform(translateX(-50%)); width: 100%;
									}
								}

								&:hover {
									p {display: block;}
								}
							}

							@media all and (max-height: 699px) {display: inline-block;}
							@include respond-to(sm) {display: block;}
						}
					}
				}
				small {
					color: #ffffff; font-size: 8px; line-height: 9px; letter-spacing: 0.23px;
					display: none;
					opacity: 0.9;

					@media all and (min-height: 700px) {display: block;}
					@include respond-to(sm) {display: none;}
				}
			}
		}
	}
}